//colors
$white: white;
$primary_color: #26a692;
$teal: teal;
$white_80: rgba(255, 255, 255, 0.8);

//@extend-elements
//original selectors
//body, html
%extend_1 {
  background-size: cover;
  padding: 0 !important;
  margin: 0 !important;
  overflow-y: scroll;
  min-height: 548px;
}


body {
  @extend %extend_1;
}
html {
  @extend %extend_1;
}

.loginForm {
  background: $white;
  margin-top: 5%;
  min-height: 370px !important;
  min-width: 200px;
  .row {
    margin-top: 3% !important;
  }
}
nav {
  padding: 0 15px 0 15px !important;
  background: $primary_color !important;
}
.forgot-password {
  float: right;
  padding-right: 10px;
  color: $teal;
  &:hover {
    color: $primary_color;
  }
}
#btn_login {
  color: $white !important;
  font-weight: bold;
  &:hover {
    background: $teal !important;
  }
}
.changeLogin {
  float: right;
  padding-right: 10px;
  a {
    color: $teal;
  }
}
#loggedinNav {
  float: right;
  a {
    color: #000;
    font-weight: bold;
    &:hover {
      background: transparent;
      color: #000;
    }
  }
}
.dropdown-button{
  float: right;
  color: $white;
  font-weight: bold;
  &:hover {
    background: transparent;
    color: $white_80;
  }
}
.sidebar {
  background: $teal;
  position: absolute;
  z-index:1000;
}
.workspace {
  height:auto;
  padding:20px;
  background: transparent !important;
  min-height:450px;
  .panel{
    width:90%;
    margin:0 auto;
    padding-left: 30px;
    background: white;
  }

  .workspace-header{
    width:80%;
    margin:0 auto;
    margin-top:40px !important;
  }

  .btnAddDocument {
    margin-bottom: 10px;
  }

}

.dashboardContainer {
  padding: 0 !important;
  div {
    padding: 0;
  }
}
.brand-logo{
  margin-left: 6px;
}
.useractions {
  width:50px;
  height:50px;
  background: white;
}

.useractions i{
  margin-top:12px !important;
  color: lightseagreen;
}

a {
  cursor: pointer;
}

.usermenu {
  color: white;
  font-weight: bold;
  height:auto;
  padding:20px;
}


#content {
  background: white;
  padding:10px;
  min-height:300px;
}

#collapse_btn{
  margin-top:15px !important;
  text-align: center;
  position:absolute;
}

#collapse_btn i{
  margin-top:-8px !important;
}


.side-nav {
  padding-top:120px !important;
}

.menu_link li {
  padding-top:50px !important;
}

.action_desc{
  margin-top:-1px !important;
}

.collection_list {
  margin:0 auto;
}

.collection_list a{
  color:black;
}

.collection_list a:hover{
  color:teal;
}

.collection_list th{
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  background-color: inherit;
  cursor: not-allowed;
  font-weight: bold;
}
.collection_list td {
  padding-left: 20px;
  padding-right: 20px;
  height: 45px;
  text-align: left;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: inherit;
  cursor: inherit;
}

.pagination-btn {
  margin-right:30px;
  margin-bottom: 30px;
}

.refresh-list-btn {
  color:teal !important;
}

.refresh-list-btn:hover{
  color:lightseagreen !important;
}

.userRoleSelect{
  width:90px;
}

.doc_content {
  margin:0 auto;
  width:70%;
  min-height:200px;
}

.doc_content div {
  padding:25px !important;
}

.pagination-links {
  font-size:10px;
}

.pagination-links a{
  margin-left:20px;
  color:teal;

}

.pagination-links a:hover{
  color:lightseagreen;

}

.userProfile {
  padding:45px !important;
}

#changePassword {
  margin-left:30px;
}

.updateUser {
  float:right;
  color:white !important;
  font-weight: bold;
}

.userRole {
  text-transform: capitalize;
}

#changePassword {
  color: white !important;
  font-weight: bold;
}

.tab a{
  color:teal !important;
}

.indicator{
  background: lightseagreen !important;
  color: lightseagreen !important;
}

#card-alert button {
  background: none;
  border: none;
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 20px;
  color: #fff;
}
.card {
  overflow: hidden;
}
.header-text-color {
  color: $primary_color;
}
.action-edit-color {
  color: $primary_color;
  margin-right: 10px;
}
.title {
  color: white;
  margin-top: 2px;
  &:hover {
    color: $white_80;
  }
}
.hidden {
  display:none;
}
.pagination li.active {
  background-color: $primary_color;
}
header, main, footer, .dashboardContainer {
  padding-left: 300px;
}

.card-content{
  .card-title {
    margin-top: 10px;
    color: $primary_color;
  }
}
.collection {
  .collection-item.avatar .title {
    font-size: 16px;
    color: $primary_color;
  }
}
.mr-20 {
  margin-right: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-15{
  margin-top: 15px;
}
.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.pt-20{
  padding-top: 20px;
}
.fr-box.fr-basic .fr-element {
  min-height: 180px !important;
}

.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 200px; /* Changed this to accomodate content width */
  max-height: auto;
  margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  margin-top: 65px;
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
}
.red-main {
  background-color: #F44336 !important;
}

